body {
    text-align: center;
    width: 80%;
    margin: auto;
}

img {
    width: 720px;
    height: auto;
}

pre {
    width: 80%;
}

.progress {
    margin-top: 10px;
}

#sentences {
    font-size: large;
}

#generate-story {
    text-align: left;
}
